<p class="plofile-text">
1986年生まれ。昨年娘も生まれた現在34歳のパパです。
スーパーマーケットの小売業で12年間勤務していました。
食に興味がありずっと小売業で勤務していましたが、
インフラやアプリケーションのへの課題を感じ心機一転。
自らその課題を解決したいと思いエンジニアへの道を目指しています。
趣味はゴルフ、音楽鑑賞、漫画、アニメ、グルメ巡りです。
<br>
<br>
<strong>エンジニアを目指す理由：</strong>
<br>
ユーザー視点に立ち、ユーザーに満足してもらえる、
使いやすいアプリケーションを自ら作れるようになりたいと思いがあり、エンジニアを目指しています。
<br>
<br>
<strong>この先のキャリアビジョン：</strong>
<br>
【１年後】
<br>
未経験からの転職、開発の最前線に立てるよう学習、自己啓発を行い、周りに良い刺激を与えるような人材に！
<br>
【３年後】
<br>
フルスタックエンジニアを目指し、どのポジションでも活躍でき、スピード感を持って開発出来る人材に！
<br>
【５年後】
<br>
フルスタックエンジニアとしてスクラムマスターやプロジェクトリーダーとなり、会社にコミット出来る人材に！
</p>