<div class="skill-text">
  <ul><strong>デザイン・コーディング</strong>
    <li>HTML・CSS・Haml・SCSS</li>
  </ul>
  <ul><strong>フロントエンド</strong>
    <li>JavaScript・jQuery</li>
  </ul>
  <ul><strong>バックエンド</strong>
    <li>Ruby・Ruby on Rails・PHP・Laravel</li>
  </ul>
  <ul><strong>データベース</strong>
    <li>MySQL</li>
  </ul>
  <ul><strong>インフラ・サーバー</strong>
    <li>AWS・Heroku</li>
  </ul>
  <ul><strong>その他</strong>
    <li>Git・ GitHub</li>
  </ul>
  <ul><strong>【現在勉強中】</strong>
    <li>Golang・React・Wordpress</li>
  </ul>
</div>